<!doctype html>
<html>
  <head>
    <title>Ping Pong ELO</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
		<link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='images/favicon.svg') }}" />
  </head>

  <body>
		{% include 'task_bar.html' %}
    <datalist id="names">
      {%for player in players%}
      <option value="{{ player['name'] }}"></option>
      {%endfor%}
    </datalist>
    <form action="/result" class="score_form">
      <table id="score_form">  
        <tr>
          <th><input list="names" id="player_1" name="player_1" /></th>
          <th><input type="number" id="score_1" name="score_1" min="0"></th>
          <th> - </th>
          <th><input type="number" id="score_2" name="score_2" min="0"></th>
          <th><input list="names" id="player_2" name="player_2" /></th>
        </tr>
      </table>
			<div>
				<input type="submit" value="Submit">
			</div>
    </form>
    <div id="recent_games"> 
			{%for game in games%}
				{% with game=game %}
					{% include 'game_element.html' %}
				{% endwith %}
      {%endfor%}
    </div>
  </body>
</html>
